<h1>All posts: </h1>

<% if @posts.empty? %>
  <p>No posts yet</p> 
<% else %>
  <ul>
    <% @posts.each do |post| %>
      <li><b><%= post.title %> <%= "by: #{post.user.name}" if user_signed_in? %></b> <br> <p> <%= post.body %></p> </li>
    <% end %>
  </ul>
<% end %>
<%= link_to "Add a post", new_post_path %>